<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cotaja</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.cotaja</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt_BR</string>
	<key>CFBundleDisplayName</key>
	<string>Cotaja</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>159.195.32.169</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>192.99.4.143</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Este app precisa de acesso à câmera para tirar fotos dos seus serviços</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Este app usa Face ID para autenticação biométrica segura</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>O Cotaja precisa acessar sua localização para preencher o endereço do serviço automaticamente.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O Cotaja precisa acessar sua localização para preencher o endereço do serviço automaticamente.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Este app precisa de acesso para salvar fotos na biblioteca</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este app precisa de acesso à biblioteca de fotos para selecionar imagens dos seus serviços</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Ionicons.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIUserNotificationSettings</key>
	<dict>
		<key>UIUserNotificationTypeAlert</key>
		<true/>
		<key>UIUserNotificationTypeBadge</key>
		<true/>
		<key>UIUserNotificationTypeSound</key>
		<true/>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
